.component{
    position: fixed;
    top: 0px;
    background: rgb(229, 187, 148);
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 10px;
    overflow: hidden;
    z-index: 10;

    & .header{
        padding: 0;
        margin: 0;
        display: flex;
    }

    & .item{
        padding: 10px 15px;
        border-bottom: 2px solid transparent;
        text-decoration: none;
        color: rgb(0, 0, 0);
        &:hover{
            border-bottom: 2px solid rgb(30, 33, 182);
        }
    }
    & .active{
        background: rgb(243, 159, 81);
    }
}