.overlay{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.409);
    display: none;
}
.show{
    display: flex;
}
  
  .Wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
  }
  
  .Modal {
    z-index: 100;
    background: white;
    position: relative;
    margin: 1.75rem auto;
    border-radius: 3px;
    max-width: 600px;
    padding: 2rem 0.1rem;
  }
  
  .Header {
    display: flex;
    justify-content: flex-end;
  }
  .body{
    padding: 0rem 1rem;
    display: flex;
    flex-direction: column;

    & .starButton{
      background: transparent;
      border: none;
      position: relative;
      width: 30px;
      height: 30px;
      border-radius: 15px;
      background: #c9fec7;
      cursor: pointer;
      margin-right: 20px;
      
      &:hover{
          background: rgb(145, 222, 143);
      }
  }

    h3{
      padding: 0rem;
      margin: 0.5em 0em;
    }
    p{
      font-size: 15px;
      margin: 0;
      margin-bottom: 0.5rem;
    }
    label{
      font-size: 13px;
    }

  }
  
  .closeButton {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    opacity: .4;
    cursor: pointer;
    border: none;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background: #fbe219;
    &:hover{
      opacity: 1.0;
    }
  }
  
  .buttonDefault {
    background: #247BA0;
    color: #fff;
  }

  .gridBox{
   
    display: block;
    position: relative;
    
  }

  .grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    grid-gap: 1rem;
    padding: 0.5rem;
}